.mud-dialog .mud-dialog-content {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mbb-achievement-dialog {
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    // default background image if not overridden by .journey-X-background-Y in Theme.scss
    background-image: var(--achivement-dialog-background, url('/Themes/images/Backgrounds/boba-shop-background-left.png'));

    .mud-card {
        border-radius: 10px;
        margin: 10px;
    }
}

.speech-bubble {
    position: relative;
    display: grid;
    place-items: center;
    z-index: 0;
    margin: 0rem 2rem -4rem 2rem;

    margin-block-start: auto;
    margin-block-end: -4rem;
    margin-inline: 2rem;

    .speech-bubble-img {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
    }

    .speech-bubble-text {
        padding: 8vw 6vw 12vw 6vw;
        text-align: center;
        z-index: 2;
    }
}

.mbb-panda-encouragement-img {
    height: auto;
    width: 100%;
}

.mbb-panda-foreground-img {
    height: auto;
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mbb-reward-image-container {
    width:100%;
    aspect-ratio:1;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        animation: pulse 2s infinite;
    }
}

.mbb-achievement-dialog-actions {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;

    display: flex;
    justify-content: center;

    padding-block: 4rem;
}

@keyframes splash {
    0% {
        transform: scale(1) rotate(0);
        transform-origin: center;
        opacity: 1;
    }

    20% {
        transform: scale(0.8) rotate(-1deg);
        transform-origin: center;
        opacity: 1;
    }

    50% {
        transform: scale(1.1) rotate(2deg);
        transform-origin: center;
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0);
        transform-origin: center;
        opacity: 1;
    }
}

.splash-in {
    overflow: visible;
    animation: splash 0.7s ease-out;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
