.mbb-audio-container {
  color: var(--mud-palette-surface);
  margin-block: 1.5rem;
}

.mbb-audio-player {
  display: grid;
  place-items: center;
  margin-block: 1rem;
}
.mbb-audio-player .mbb-audio-button {
  width: clamp(5rem, 30vw, 12rem);
  height: clamp(5rem, 30vw, 12rem);
  aspect-ratio: 1;
  background-color: var(--mud-palette-primary-text);
  color: var(--mud-palette-primary);
  border-radius: 50%;
  transition: box-shadow ease 250ms;
  overflow: visible;
}
.mbb-audio-player .mbb-audio-button svg {
  font-size: clamp(5rem, 30vw, 12rem);
}
.mbb-audio-player .mbb-audio-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 0.25rem solid var(--mud-palette-primary);
  box-shadow: 0 0 0 0.35rem var(--mud-palette-grey-light);
  opacity: 1;
}
.mbb-audio-player .mbb-audio-button[data-playing=True]::before {
  box-shadow: 0 0 0.1rem 0.5rem var(--mud-palette-grey-lighter);
  animation: playing 2s infinite ease;
}
.mbb-audio-player > audio {
  visibility: hidden;
  display: contents;
}

@keyframes playing {
  0% {
    transform: scale(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: scale(120%);
    opacity: 0;
  }
  100% {
    transform: scale(120%);
    opacity: 0;
  }
}
