.app-pane-admin-border .mbb-character-examples-hero-container .mbb-character-img-button {
  position: relative;
}

.mbb-character-examples-hero-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  z-index: 1;
}
.mbb-character-examples-hero-container img {
  width: 140px;
  height: auto;
  margin: 0px 10px;
  cursor: pointer;
}

.mbb-character-img-button {
  position: absolute;
}

.mbb-character-img-button.bingbing {
  right: 0;
}

.mbb-character-img-button.bowen {
  left: 50%;
  transform: translateX(-50%);
}

.mbb-character-img-button.jennifer {
  left: 0;
}
