.mbb-dashboard-container {
  position: relative;
  flex: 1;
  aspect-ratio: 1;
}

.mbb-dashboard-navigation {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-content: stretch;
  flex: 1;
  width: 100%;
}
.mbb-dashboard-navigation button {
  border-radius: 0;
  font-size: var(--mud-typography-subtitle1-size);
}

.mbb-dashboard-header {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
}

.mbb-dashboard-foreground-img {
  height: auto;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.mbb-nav-button {
  border-radius: 0;
  font-size: var(--mud-typography-h2-size);
  font-weight: var(--mud-typography-h2-weight);
}
