.hidoku-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
}
.hidoku-container .hidoku-board-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board {
  display: grid;
  background-color: var(--mud-palette-black);
  width: auto;
  height: auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 0.5rem;
  float: left;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0.5rem;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell {
  background-color: var(--mud-palette-white);
  color: var(--mud-palette-black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 3rem;
  height: 3rem;
  outline: none !important;
  border: none;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell.moveable:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.1s ease-out;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell.selected {
  background-color: var(--mud-palette-primary-lighten);
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell.locked {
  background-color: #aaa;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell.errorflashing {
  animation: errorflash 1s infinite;
}
.hidoku-container .hidoku-board-wrapper .hidoku-board .hidoku-row .hidoku-cell.winflashing {
  animation: winflash 10s infinite;
}
.hidoku-container .hidoku-board-wrapper .hidoku-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.hidoku-container .hidoku-board-wrapper .hidoku-controls button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.hidoku-container .hidoku-board-wrapper .hidoku-controls button.hidoku-tile {
  background-color: var(--mud-palette-white);
  color: var(--mud-palette-black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 3rem;
  height: 3rem;
  outline: none !important;
  border-style: solid;
}
.hidoku-container .hidoku-board-wrapper .hidoku-controls button.hidoku-tile:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.1s ease-out;
}
.hidoku-container .hidoku-board-wrapper .hidoku-controls button.hidoku-tile.selected {
  background-color: var(--mud-palette-primary-lighten);
  border-color: var(--mud-palette-black);
  border-width: medium;
}

@keyframes errorflash {
  37% {
    background-color: var(--mud-palette-error);
  }
}
@keyframes winflash {
  3% {
    transform: scale(1.2);
    background-color: var(--mud-palette-success);
    color: white;
  }
  10% {
    transform: scale(1);
    background-color: var(--mud-palette-white);
    color: var(--mud-palette-black);
  }
}
