
.mbb-spritemap-tile {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Ensures square aspect ratio */
    overflow: hidden;
}

.mbb-spritemap-grid {
    background-image: var(--bg-image);
    background-size: 100% auto; /* Scale width to 100%, auto-scale height */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: top;
}


.mbb-minimap-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mbb-minimap-scratch {
    border-radius: 50%;
    filter: grayscale(100%); // make scratch images black and white
}

/* Rotation classes */
.mbb-minimap-rotate-90 {
    transform: rotate(90deg);
}

.mbb-minimap-rotate-180 {
    transform: rotate(180deg);
}

.mbb-minimap-rotate-270 {
    transform: rotate(270deg);
}

