.mbb-journal-container {
    --journal-border-size-clamped: clamp(1rem, var(--journal-border-size), 2rem);
    --journal-button-size: clamp(2rem, var(--journal-border-size), 3rem);
    --journal-padding-bottom: clamp(2rem, var(--journal-border-size) * 1.5, 4rem);

    display: grid;
    place-items: center;

    text-align: center;

    align-self: stretch;
    height: 100%;
    min-height: 30rem; // This is to give some visibility when in edit mode.

    background-color: white;
    border-image: var(--journal-background);
    border-image-slice: 70 110 70 110;
    border-image-width: var(--journal-border-size-clamped);
    border-image-outset: calc(var(--journal-border-size-clamped) - 1px);

    margin: var(--journal-border-size-clamped);

    .mud-skeleton {
        height: 100%;
        width: 100%;
    }
}

.mbb-journal-carousel {
    height: 100%;

    > * {
        margin-block-start: auto;

        > button svg {
            font-size: var(--journal-button-size);
        }
    }
}

.mbb-journal-pane-container {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    padding-block-end: var(--journal-padding-bottom);
}

.mbb-journal-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

