
.mbb-mood-meter-header{
    display: grid;
    place-items: center flex-end;
}

.mbb-mood-meter-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h2 {
        color: var(--mud-palette-primary);
    }

    .mbb-mood-category-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .mbb-mood-category-item {
        width: 40%;

        .mud-button-label {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .mbb-mood-category-image {
            max-width: 100%;
            aspect-ratio: 1;
        }

        p {
            color: var(--mud-palette-primary);
            font-weight: var(--mud-typography-h2-weight);
            font-size: 1rem;
        }
    }

    .mbb-mood-category-item-small {
        width: 22%;

        .mud-button-label {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .mbb-mood-category-image {
            max-width: 100%;
            aspect-ratio: 1;
        }
    }

    .mbb-moods-grid {
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, clamp(3rem, 25vmin, 10rem));
        gap: 1rem;
        padding: 1rem;
    }

    .mbb-mood-item {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;

        font-size: clamp(0.5rem, 3vmin, 1rem);
        font-weight: 600;

        box-shadow: 0px 0px 5px 0px black;
        cursor: pointer;
    }

    .mbb-mood-item:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }

    .mbb-mood-item[data-mood="Low Energy Pleasant"] {
        background-color: var(--mud-palette-primary);
        color: white;
    }

    .mbb-mood-item[data-mood="Low Energy Unpleasant"] {
        background-color: var(--mud-palette-warning);
        color: black;
    }

    .mbb-mood-item[data-mood="High Energy Unpleasant"] {
        background-color: var(--mud-palette-error);
        color: white;
    }

    .mbb-mood-item[data-mood="High Energy Pleasant"] {
        background-color: var(--mud-palette-success);
        color: black;
    }
}
