/* Utilities */
.no-wrap {
  flex-wrap: nowrap;
}

.maxw-maxcontent {
  max-width: max-content;
}

.minw-maxcontent {
  min-width: max-content;
}

.maxw-fitcontent {
  max-width: fit-content;
}

.minw-fitcontent {
  min-width: fit-content;
}

.mbb-editmode-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mbb-editmode-button {
  font-size: 1.2rem;
  color: white;
  text-shadow: 0px 0px 5px black;
}
