$desktop: 1280px;
$tablet: 960px;
$mobile: 768px;
$tiny: 600px;

:root {
    --header-height: 60px;
    --bottom-tab-navigation-height: 60px;
    --border-radius: 5px;

    font-size: 17px;
    font-weight: 400;
}
