<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/9349db3e-39dc-4a91-8bab-9a33e1ef4e45/resourceGroups/rg-mindboba/providers/Microsoft.Web/sites/mindboba</ResourceId>
    <ResourceGroup>rg-mindboba</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mindboba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f4acd5d1-4da1-48dc-83c9-33ed9f707129</ProjectGuid>
    <PublishUrl>https://mindboba.scm.azurewebsites.net/</PublishUrl>
    <UserName>$mindboba</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>